public/make-templates/cenario-1-conexao-whatsapp.json

{
  "name": "WhatsApp - Conexão e QR Code",
  "flow": [
    {
      "id": 1,
      "module": "webhook",
      "version": 1,
      "parameters": {
        "hook": "custom_webhook_qr_code",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {},
        "interface": [
          {
            "name": "action",
            "type": "text"
          },
          {
            "name": "sessionId",
            "type": "text"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "whatsapp-business",
      "version": 1,
      "parameters": {
        "action": "generateQRCode",
        "sessionId": "{{1.sessionId}}"
      },
      "mapper": {
        "sessionId": "{{1.sessionId}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {}
      }
    },
    {
      "id": 3,
      "module": "http",
      "version": 3,
      "parameters": {
        "url": "{{qr_response_webhook}}",
        "method": "POST"
      },
      "mapper": {
        "url": "SEU_WEBHOOK_RESPOSTA_AQUI",
        "body": "{\"qrCode\": \"{{2.qrCode}}\", \"status\": \"{{2.status}}\", \"sessionId\": \"{{1.sessionId}}\", \"timestamp\": \"{{now}}\"}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {}
      }
    },
    {
      "id": 4,
      "module": "whatsapp-business",
      "version": 1,
      "parameters": {
        "action": "checkConnection",
        "sessionId": "{{1.sessionId}}"
      },
      "mapper": {
        "sessionId": "{{1.sessionId}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 150
        },
        "restore": {}
      }
    },
    {
      "id": 5,
      "module": "http",
      "version": 3,
      "parameters": {
        "url": "{{status_webhook}}",
        "method": "POST"
      },
      "mapper": {
        "url": "SEU_WEBHOOK_STATUS_AQUI",
        "body": "{\"isConnected\": {{4.isConnected}}, \"phoneNumber\": \"{{4.phoneNumber}}\", \"sessionId\": \"{{1.sessionId}}\", \"timestamp\": \"{{now}}\"}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 150
        },
        "restore": {}
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxCycles": 1,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}
