public/make-templates/cenario-1-conexao-whatsapp.json

{
  "name": "WhatsApp - Conexão e QR Code",
  "flow": [
    {
      "id": 1,
      "module": "webhook",
      "version": 1,
      "parameters": {
        "hook": "custom_webhook_generate_qr",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {},
        "parameters": [
          {
            "name": "hook",
            "type": "hook",
            "label": "Webhook",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "action",
            "type": "text"
          },
          {
            "name": "sessionId", 
            "type": "text"
          },
          {
            "name": "timestamp",
            "type": "text"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "whatsapp-business",
      "version": 1,
      "parameters": {
        "action": "generateQR",
        "sessionId": "{{1.sessionId}}"
      },
      "mapper": {
        "sessionId": "{{1.sessionId}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {},
        "parameters": [
          {
            "name": "action",
            "type": "select",
            "label": "Action",
            "required": true,
            "options": [
              {
                "label": "Generate QR Code",
                "value": "generateQR"
              }
            ]
          }
        ]
      }
    },
    {
      "id": 3,
      "module": "http",
      "version": 3,
      "parameters": {
        "url": "{{webhook_url_resposta}}",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCredentials": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false
      },
      "mapper": {
        "url": "SEU_WEBHOOK_RESPOSTA_AQUI",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "body": "{\"qrCode\": \"{{2.qrCode}}\", \"sessionId\": \"{{1.sessionId}}\", \"status\": \"generated\"}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {}
      }
    },
    {
      "id": 4,
      "module": "whatsapp-business",
      "version": 1,
      "parameters": {
        "action": "watchConnection",
        "sessionId": "{{1.sessionId}}"
      },
      "mapper": {
        "sessionId": "{{1.sessionId}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 150
        },
        "restore": {}
      }
    },
    {
      "id": 5,
      "module": "http",
      "version": 3,
      "parameters": {
        "url": "{{webhook_url_resposta}}",
        "method": "POST"
      },
      "mapper": {
        "url": "SEU_WEBHOOK_RESPOSTA_AQUI",
        "body": "{\"isConnected\": {{4.isConnected}}, \"phoneNumber\": \"{{4.phoneNumber}}\", \"sessionId\": \"{{1.sessionId}}\"}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 150
        },
        "restore": {}
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxCycles": 1,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}
