public/make-templates/cenario-2-receber-mensagens.json

{
  "name": "WhatsApp - Receber e Processar Mensagens",
  "flow": [
    {
      "id": 1,
      "module": "whatsapp-business",
      "version": 1,
      "parameters": {
        "trigger": "onMessageReceived"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {},
        "interface": [
          {
            "name": "from",
            "type": "text"
          },
          {
            "name": "message",
            "type": "text"
          },
          {
            "name": "timestamp",
            "type": "text"
          },
          {
            "name": "messageId",
            "type": "text"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "router",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {}
      }
    },
    {
      "id": 3,
      "module": "filter",
      "version": 1,
      "parameters": {
        "condition": "{{1.from}} != {{my_phone_number}}"
      },
      "mapper": {
        "condition": "{{1.from}} != SEU_NUMERO_AQUI"
      },
      "metadata": {
        "designer": {
          "x": 450,
          "y": -50
        },
        "restore": {}
      }
    },
    {
      "id": 4,
      "module": "http",
      "version": 3,
      "parameters": {
        "url": "{{receive_webhook}}",
        "method": "POST"
      },
      "mapper": {
        "url": "SEU_WEBHOOK_RECEIVE_AQUI",
        "body": "{\"from\": \"{{1.from}}\", \"message\": \"{{1.message}}\", \"timestamp\": \"{{1.timestamp}}\", \"messageId\": \"{{1.messageId}}\"}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": -50
        },
        "restore": {}
      }
    },
    {
      "id": 5,
      "module": "http",
      "version": 3,
      "parameters": {
        "url": "{{autoreply_webhook}}",
        "method": "POST"
      },
      "mapper": {
        "url": "SEU_WEBHOOK_AUTOREPLY_AQUI",
        "body": "{\"from\": \"{{1.from}}\", \"message\": \"{{1.message}}\", \"timestamp\": \"{{1.timestamp}}\"}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 50
        },
        "restore": {}
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxCycles": 1,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}
